.banner-image {
	background-position:center center; 
	height: 800px; 
	-webkit-background-size: cover;
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
    margin-top: -9em;
    z-index: 0;
}

@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(5deg);}
    50%{-webkit-transform: rotate(-2deg)}
    100%{-webkit-transform: rotate(5deg);}
}
 
@keyframes swinging{
    0%{transform: rotate(5deg);}
    50%{transform: rotate(-2deg)}
    100%{transform: rotate(5deg);}
}
 
.cloud{
    -webkit-transform-origin: 1% 0;
    transform-origin: 1% 0;
    -webkit-animation: swinging 8.5s ease-in-out forwards infinite;
    animation: swinging 8.5s ease-in-out forwards infinite;
}

.main-content {
	z-index: 0;
	.hello-banner {
		height: 600px;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		overflow: hidden;
	}
	.welcome-inner {
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    height: 100%;
	    -webkit-box-align: center;
	       -ms-flex-align: center;
	          align-items: center;
	    -webkit-box-pack: center;
	       -ms-flex-pack: center;
	     justify-content: center;
		.intro-blurb {
		background: white;
		padding: 2em;
		// box-shadow:0 11px 21px rgba(0,0,0,.15);
		font-family: $header;
		p {
			font-family: $paragraph;
		}

		}
		// .julius-hello {
		// 	width: 100%;
		// 	img {
		// 		max-width: 100%;
		// 	}
		// }
	}
}

.brands-wrapper {
	height: 400px;
	width: 100%;
	

	.brands {
		width: 80%;
		margin: 0 auto;
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    height: 150px;
	    -webkit-box-align: center;
	       -ms-flex-align: center;
	          align-items: center;
	    -webkit-box-pack: center;
	       -ms-flex-pack: center;
	     justify-content: center;
	}
	div#gallery-2 {
		height: 120px;
	}
	.gallery-item {
		width: 200px;
		float: left;
		img {
			max-width: 100%;
			height: auto;
		}
	}
}

.kids-teens {
	position: relative;
	.left {
		img {
			max-width: 100%;
			height: auto;
		}

	}
	.right {
		img {
			max-width: 100%;
			height: auto;
		}
	}

	.go-tos {
		width: 300px;
		position: absolute;
		
		left: 50%;
    	top: 75px;
    	
		h2.left {
			color: $blue;
		}
		h2.right {
			color: $purple;
		}

	}
}
