.banner-image {
	background-position:center center; 
	height: 800px; 
	-webkit-background-size: cover;
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
    margin-top: -9em;
    z-index: 0;
}

@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(2deg);}
    50%{-webkit-transform: rotate(-2deg)}
    100%{-webkit-transform: rotate(2deg);}
}
 
@keyframes swinging{
    0%{transform: rotate(2deg);}
    50%{transform: rotate(-2deg)}
    100%{transform: rotate(2deg);}
}
 
.cloud{
    -webkit-transform-origin: 1% 0;
    transform-origin: 1% 0;
    -webkit-animation: swinging 8.5s ease-in-out forwards infinite;
    animation: swinging 8.5s ease-in-out forwards infinite;
}

.main-content {
	z-index: 0;
	.hello-banner {
		height: 600px;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		overflow: hidden;
	}
	.welcome-inner {
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    height: 100%;
	    -webkit-box-align: center;
	       -ms-flex-align: center;
	          align-items: center;
	    -webkit-box-pack: center;
	       -ms-flex-pack: center;
	     justify-content: center;
		.intro-blurb {
		background: white;
		padding: 2em;
		// box-shadow:0 11px 21px rgba(0,0,0,.15);
		font-family: $header;
		p {
			font-family: $paragraph;
		}

		}
	}
}

.brands-wrapper {
	height: auto;
	width: 100%;
	ul {
		li.logo-img {
			list-style: none;
			display: inline-block;
			height: 250px;
			width: 250px;
			img {
				max-width: 100%;
			}
		}
	}
}

.kids-teens {
	position: relative;
	.left {
		img {
			max-width: 100%;
			height: auto;
		}

	}
	.right {
		img {
			max-width: 100%;
			height: auto;
			float: right;
		}
	}

	.go-tos {
		width: 50%;
		position: absolute;
		left: 50%;
    	top: auto;
    	.li{
    		display: block;
    		list-style: none;
    		.button{
    			a {
    				font-size: 10em;
    			}
    		}
    	}
	}

	
}
