.top-banner {
	background-color: black;
	width: 100%;
	transform: skewY(2deg);
  	transform-origin: top right;
  	height: 120px;
    z-index: 50;
    position: relative;
    margin-bottom: 4em;
	header {
		position: relative;
		z-index: 999;
	}
	.menu-header-container {
		text-align: right;
		transform: skewY(-2deg);
  		transform-origin: top right;
		ul#menu-header {
		    width: 60%;
		    float: right;
		    margin: 2em;
		    letter-spacing: 0.2em;
			li {
				display: inline-block;
				margin: 1em;
				&:hover {
					text-shadow: 1.5px 1.5px 0 #cac6c5, -1.5px -1.5px 0 #cac6c5, -1.5px -1.5px 0 #cac6c5, -1.5px 1.5px 0 #cac6c5, 1.5px -1.5px 0 #cac6c5;
					color: $kidsContent;
				}
				ul.sub-menu{
						display: none;
					}
				a {
					font-family: $header;
					text-transform: uppercase;
					color: white;
					font-size: 2em;
					text-shadow: 1.5px 1.5px 0 #333, 0px 1.5px 0 #333, -1.5px -1.5px 0 #333, 
					-1.5px -1.5px 0 #333, -1.5px 1.5px 0 #333, 1.5px -1.5px 0 #333, 
					0.77782px 0.77782px 0 #aaaaaa, 1.55563px 1.55563px 0 #aaaaaa, 
					2.33345px 2.33345px 0 #aaaaaa, 3.11127px 3.11127px 0 #aaaaaa, 
					3.88909px 3.88909px 0 #aaaaaa, 4.6669px 4.6669px 0 #aaaaaa, 
					5.44472px 5.44472px 0 #aaaaaa, 6.22254px 6.22254px 0 #aaaaaa, 
					7.00036px 7.00036px 0 #aaaaaa, 7.77817px 7.77817px 0 #aaaaaa;
				}
				&:hover {
						ul.sub-menu {
							display: block;
							position: absolute;
							li {
								display: block;
								a {
									font-size: 1em;
									color: $blue;
								}
							}
						}
					}
			}
		}
	}
}